@page "/StudentList"
<h3>Student List</h3>

<StudentDetails StudentName="Yuval" StudentPhone="064523126" StudentAge=36 StudentAddress="Bat Yam">
	<ul>
		<li>Instructional designer at IBM</li>
		<li>Always look on the bright side of life</li>
	</ul>
</StudentDetails>

<StudentDetails StudentName="Dan" StudentPhone="078520026" StudentAge=24 StudentAddress="Holon">
	<span>Web developer at WIX for the past 5 years. Love sports, painting and dogs</span>
	<a href="#">Link to</a>
</StudentDetails>
<StudentDetails StudentName="Dor" StudentPhone="054443100" StudentAge=54 StudentAddress="Tsur Igal"></StudentDetails>

@code {

}
